*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.rules ul {
    border: purple 5px double;
}

.rules li {
    margin: 2px;
    padding: 2px;
    max-width: 800px;
}

button {
    background-color: purple;
    border: violet 5px outset;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.timer {
    text-align: center;
}

.quiz {
    display: none;
    max-width: 600px;
    border: purple 5px double;
}

.quiz div {
    margin: 5px;
    padding: 5px;
}

.timer {
    border: violet 3px solid;
}

.scoreList {
    display: none;
}

.scoreMenu {
    display: none;
}

.choice:hover {
    color: yellow;
    cursor: pointer;
}